@model IEnumerable<My_Blog_Website.Areas.Admin.Models.Authors>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">The Authors</h1>

<button class="icon-btn add-btn">
    <div class="add-icon"></div>
    <div class="btn-txt">
        <a asp-action="Create" asp-controller="Author">Create Author</a>
    </div>
</button>

<table class="table table table-bordered table-hover">
    <thead>
        <tr class="text-center">
            <th>Author Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>About Author</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            var conc = item.FirstName + " " + item.LastName;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutAuth)
            </td>
            <td>
                <button class="btn btn-primary btn-sm">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                    <a asp-action="Edit" asp-route-id="@item.AuthorId">Edit</a>
                </button>
                <button class="btn btn-danger btn-sm">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <a asp-action="Delete" asp-route-id="@item.AuthorId">Delete</a>
                </button>
            </td>
        </tr>
}
    </tbody>
</table>
