@model IEnumerable<My_Blog_Website.Areas.Admin.Models.Posts>

@{
    ViewData["Title"] = "Posts";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">All Posts</h1>



@* <button class="icon-btn add-btn">
    <div class="add-icon"></div>
    <div class="btn-txt">
        <a asp-action="Create" asp-controller="Posts">Create Post</a>
    </div>
</button>
<table class="table">
    <thead>
        <tr class="text-center">
            <th>SN.</th>
            <th>Title</th>
            <th>Content</th>
            <th>Feature Image</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Author</th>
            <th>Publish Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (var item in Model) {
        <tr>
            <td style="max-width:10px; text-align: center">
                    @(rowNo += 1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeatureImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
